@import "../../variables.scss";

.books-list {
  max-width: 1400px;
  padding: 0 15px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &__btns {
	display: flex;
	justify-content: center;
    margin: 20px 0;
  }

  &__btn-page, &__btn-page--current {
    border: 1px solid $green;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
	 cursor: pointer;
  }

  &__btn-page--current {
	border: 2px solid $green;
	font-weight: 600;
	background-color: $greenish;
 }
}
