@import '../../variables.scss'; 

.header {
  height: 150px;
  margin-bottom: 50px;
  background: linear-gradient(90deg, $greenish 7%, $softGreen 52%, $green 100%);

  &__logo {
    height: 120px;
    margin: 15px 50px;
  }
}
